.App {
  min-height: 100vh;
}

.glow {
  border-radius: 50px;
  background: linear-gradient(145deg, #03152b, #031224);
  box-shadow: 20px 20px 60px #020b15, -20px -20px 60px #041d3b;
}

.glow2 {
  border-radius: 50px;
}
